body {
	display: block;
	font-size: 1em;
	line-height: 162%;
	margin-bottom: 0;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}

ruby {
	ruby-align: center;
	ruby-position: above;
	ruby-overhang: whitespace
}

p {
	font-family: "宋体";
	display: block;
	font-size: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	margin-top: 1em;
	text-indent: 0;
}

rt {
	font-family: "DK-SYMBOL", "宋体";
}

.hide {
	display: none;
}

.title {
	font-family: "黑体";
	font-size: 1.8em;
}

.chapter {
	font-family: "黑体";
	font-size: 1.5em;
}

.section {
	font-family: "黑体";
	font-size: 1.2em;
}


.jingwen {
	font-family: "宋体";
	font-size: 1.3em;
}

.instruct {
	font-family: "宋体";
	font-size: 1em;
}

.incantation {
	font-family: "楷体";
	font-size: 1.3em;
}

.poem {
	font-family: "楷体";
	font-size: 1.3em;
}

.center {
	text-align: center;
	text-indent: 0
}

.right {
	text-align: right;
	text-indent: 0
}